---
import { Header } from "../components/Header";
import Layout from "../layouts/Layout.astro";
// const content = posts[0].compiledContent();
// console.log(posts[0].rawContent());
---

<Layout title="New Creation Realities">
  <p class="text-red-900">Post Archive:</p>
</Layout>
