---
import Layout from "../layouts/Layout.astro";
---

<Layout title="New Creation Realities">
  <h1 class="text-5xl font-extrabold">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
    >
      New Creation Realities: Under Construction
    </span>
  </h1>
</Layout>
