---
import { Header } from "../components/Header";
import Layout from "../layouts/Layout.astro";
// const content = posts[0].compiledContent();
// console.log(posts[0].rawContent());
---

<Layout title="New Creation Realities">
  <h1 class="text-5xl font-extrabold">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
    >
      New Creation Realities: Under Construction
    </span>
  </h1>
</Layout>
