---
import Logo from "../Logo/Logo.astro";
import { ThemeToggle } from "../ThemeToggle/ThemeToggle";
---

<header
  class="flex h-12 w-full items-center justify-between bg-ncr-primary p-4"
>
  <a href="/" class="flex items-center">
    <Logo />
  </a>
  <ThemeToggle client:load />
</header>
