---
import { Sidebar } from "../components/Sidebar/Sidebar";
import path from "path";
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header/Header.astro";

const { title } = Astro.props;
const pages = await Astro.glob("../../content/pages/*.md");
const links = pages.map((page) => {
  return {
    title: page.frontmatter.title,
    href: `/page/${path.basename(page.file).split(".")[0]}`,
  };
});

const { slug } = Astro.params;
---

<BaseLayout title={title}>
  <main>
    <Header />
    <Sidebar slug={slug} links={links} client:load />
    <slot />
  </main>
</BaseLayout>
