---
import path from "path";
import Layout from "../../layouts/Layout.astro";

const pages = await Astro.glob("../../../content/pages/*.md");

export const getStaticPaths = () => {
  return pages.map((page) => {
    return {
      params: {
        slug: path.basename(page.file).replace(".md", ""),
      },
    };
  });
};

const { slug } = Astro.params;

const page = pages.find(
  (page) => path.basename(page.file).replace(".md", "") === slug
);

if (!page) {
  const error = await fetch(`${Astro.url}/404`);
  return new Response(error.body, {
    headers: error.headers,
    status: 404,
    statusText: "Not Found",
  });
}

const { Content } = page;
---

<Layout title={page?.frontmatter.title}>
  <div class="px-4 pt-4 pb-20">
    <article
      class="prose mx-auto max-w-[45ch] font-serif prose-headings:font-extrabold"
    >
      <Content />
    </article>
  </div>
</Layout>
